name: Kali-RDP

on: 
  workflow_dispatch: # لتشغيله يدوياً

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Preparing Kali Linux
        run: |
          sudo apt update
          # تثبيت واجهة سطح المكتب وخادم الـ RDP
          sudo apt install -y xfce4 xfce4-goodies xrdp
          
      - name: Setting Password
        run: |
          # هنا نضع كلمة السر التي تريدها (مثلاً: abanAWAD500)
          echo "runneradmin:abanAWAD500" | sudo chpasswd
          
      - name: Configuring RDP
        run: |
          sudo adduser xrdp ssl-cert
          sudo systemctl enable xrdp
          sudo systemctl start xrdp
          echo "startxfce4" > ~/.xsession
          
      - name: Remote Access (Using Ngrok)
        run: |
          # ملاحظة: ستحتاج لإضافة NGROK_AUTH_TOKEN في الـ Secrets
          curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null && echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | sudo tee /etc/apt/sources.list.d/ngrok.list && sudo apt update && sudo apt install ngrok
          ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
          ngrok tcp 3389 --log=stdout &
          sleep 10
          curl --silent http://127.0.0.1:4040/api/tunnels | jq '.tunnels[0].public_url'
