name: Kali-Tailscale-RDP

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          
      - name: Connect to Tailscale
        run: |
          # تأكد من إضافة المفتاح في GitHub Secrets باسم TAILSCALE_AUTH_KEY
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }}
          
      - name: Setup Kali GUI & RDP
        run: |
          sudo apt update
          sudo apt install -y xfce4 xfce4-goodies xrdp
          
          # الجزء الأهم: إنشاء المستخدم وإضافته لمجموعة الـ sudo
          sudo useradd -m aban
          sudo adduser aban sudo
          echo "aban:abanAWAD500" | sudo chpasswd
          
          # تغيير المستخدم الافتراضي لـ RDP
          sudo sed -i 's/allowed_users=console/allowed_users=anybody/' /etc/xrdp/Xwrapper.config
          sudo systemctl enable xrdp
          sudo systemctl start xrdp
          
          # إعداد واجهة XFCE للمستخدم الجديد
          echo "startxfce4" > /home/aban/.xsession
          sudo chown aban:aban /home/aban/.xsession

      - name: Get Tailscale IP
        run: |
          echo "Your Kali IP is:"
          tailscale ip -4
