name: Kali-Tailscale-RDP

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          
      - name: Connect to Tailscale
        run: |
          # استخدام المفتاح المخفي للاتصال بشبكتك الخاصة
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }}
          
      - name: Setup Kali GUI & RDP
        run: |
          sudo apt update
          sudo apt install -y xfce4 xfce4-goodies xrdp
          echo "runneradmin:abanAWAD500" | sudo chpasswd
          sudo systemctl enable xrdp
          sudo systemctl start xrdp
          echo "startxfce4" > ~/.xsession

      - name: Get Tailscale IP
        run: |
          # لعرض عنوان الـ IP الخاص بالجهاز داخل شبكتك
          tailscale ip -4
